<p id="notice"><%= notice %></p>

<h1>Profile Page</h1>

<div id="profileMenu">
  <!--======= profile menu =======-->
  <div id="currentuserDisplay">
    <%= @user.username %>
  </div>

  <div id="editprofileButton">
    <button type="button">
      <%= link_to "Edit Profile", edit_user_registration_path, :class => "allButtons" %>
    </button>
  </div>

</div>
<div id="contentBx">
    <p id="feed">Live Feed:</p>
    <div id="verticalBX">
  <% @photos.each do |photo| %>

        <div id="picCont">

            <div id="userBx">

            </div>

            <div id="picBx">
              <%= link_to image_tag(photo.image.url(:original), :class => "imgBxPic"), photo_path(photo) %>
            </div>

            <div id="picInfoBx">

              <div id="titleBx">
                <%= photo.title %>
              </div>

              <div id="like">
              </div>

            </div>

            <div id="bodyBx">
              <%= photo.body %>
            </div>
        </div>
  <% end %>
    </div>
</div>

<!-- <table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->
